<br />
<br />
<br />
<br />


<ion-content [fullscreen]="true">



    <!-- tabla de torneo-->
    <ion-card>
      <h1 class="ion-text-center">Torneo de elimninatorias</h1>

      <div class="torneo-peso torneo-peso--scrollable">
        <!-- Ronda de Cuartos de Final -->
        <div class="torneo-peso__round">
          <h3 class="torneo-peso__round-title">Cuartos de Final</h3>
          <ul class="torneo-peso__list">
            <!-- Partido 1 -->
            <li class="torneo-peso__item">
              <div class="torneo-peso__match" tabindex="0">
                <table class="torneo-peso__table">
                  <tbody>
                    <tr class="torneo-peso__team torneo-peso__team--winner">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/2.jpg"
                          alt="User 1"
                          class="torneo-peso__avatar"
                        />
                        <span>Juan Pérez</span>
                      </td>
                      <td>4</td>
                    </tr>
                    <tr class="torneo-peso__team">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/6.jpg"
                          alt="User 2"
                          class="torneo-peso__avatar"
                        />
                        <span>Maria Gómez</span>
                      </td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>

            <!-- Partido 2 -->
            <li class="torneo-peso__item">
              <div class="torneo-peso__match" tabindex="0">
                <table class="torneo-peso__table">
                  <tbody>
                    <tr class="torneo-peso__team torneo-peso__team--winner">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/d5.jpg"
                          alt="User 3"
                          class="torneo-peso__avatar"
                        />
                        <span>Carlos Díaz</span>
                      </td>
                      <td>2</td>
                    </tr>
                    <tr class="torneo-peso__team">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/2.jpg"
                          alt="User 4"
                          class="torneo-peso__avatar"
                        />
                        <span>Sara Lopez</span>
                      </td>
                      <td>0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>

            <!-- Partido 3 -->
            <li class="torneo-peso__item">
              <div class="torneo-peso__match" tabindex="0">
                <table class="torneo-peso__table">
                  <tbody>
                    <tr class="torneo-peso__team torneo-peso__team--winner">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/d6.png"
                          alt="User 5"
                          class="torneo-peso__avatar"
                        />
                        <span>Pedro Martínez</span>
                      </td>
                      <td>3</td>
                    </tr>
                    <tr class="torneo-peso__team">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/2.jpg"
                          alt="User 6"
                          class="torneo-peso__avatar"
                        />
                        <span>Lucia Herrera</span>
                      </td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>

            <!-- Partido 4 -->
            <li class="torneo-peso__item">
              <div class="torneo-peso__match" tabindex="0">
                <table class="torneo-peso__table">
                  <tbody>
                    <tr class="torneo-peso__team torneo-peso__team--winner">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/2.jpg"
                          alt="User 7"
                          class="torneo-peso__avatar"
                        />
                        <span>Andrés Castro</span>
                      </td>
                      <td>4</td>
                    </tr>
                    <tr class="torneo-peso__team">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/6.jpg"
                          alt="User 8"
                          class="torneo-peso__avatar"
                        />
                        <span>Eva Martínez</span>
                      </td>
                      <td>2</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
        </div>

        <!-- Ronda de Semifinales -->
        <div class="torneo-peso__round">
          <h3 class="torneo-peso__round-title">Semifinales</h3>
          <ul class="torneo-peso__list">
            <!-- Partido 1 de Semifinal -->
            <li class="torneo-peso__item">
              <div class="torneo-peso__match" tabindex="0">
                <table class="torneo-peso__table">
                  <tbody>
                    <tr class="torneo-peso__team torneo-peso__team--winner">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/2.jpg"
                          alt="User 1"
                          class="torneo-peso__avatar"
                        />
                        <span>Juan Pérez</span>
                      </td>
                      <td>3</td>
                    </tr>
                    <tr class="torneo-peso__team">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/6.jpg"
                          alt="User 3"
                          class="torneo-peso__avatar"
                        />
                        <span>Carlos Díaz</span>
                      </td>
                      <td>2</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>

            <!-- Partido 2 de Semifinal -->
            <li class="torneo-peso__item">
              <div class="torneo-peso__match" tabindex="0">
                <table class="torneo-peso__table">
                  <tbody>
                    <tr class="torneo-peso__team torneo-peso__team--winner">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/2.jpg"
                          alt="User 5"
                          class="torneo-peso__avatar"
                        />
                        <span>Pedro Martínez</span>
                      </td>
                      <td>2</td>
                    </tr>
                    <tr class="torneo-peso__team">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/d5.jpg"
                          alt="User 7"
                          class="torneo-peso__avatar"
                        />
                        <span>Andrés Castro</span>
                      </td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
        </div>

        <!-- Ronda de Final -->
        <div class="torneo-peso__round">
          <h3 class="torneo-peso__round-title">Final</h3>
          <ul class="torneo-peso__list">
            <li class="torneo-peso__item">
              <div class="torneo-peso__match" tabindex="0">
                <table class="torneo-peso__table">
                  <tbody>
                    <tr class="torneo-peso__team torneo-peso__team--winner">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/2.jpg"
                          alt="User 1"
                          class="torneo-peso__avatar"
                        />
                        <span>Juan Pérez</span>
                      </td>
                      <td>4</td>
                    </tr>
                    <tr class="torneo-peso__team">
                      <td class="torneo-peso__player">
                        <img
                          src="assets/perfil/6.jpg"
                          alt="User 5"
                          class="torneo-peso__avatar"
                        />
                        <span>Pedro Martínez</span>
                      </td>
                      <td>3</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </ion-card>
    *colocar la feacha de inicio y final en al parte de arriba










</ion-content>
