
.mi-boton {
  color: #3f51b5;
}


.liga-card-elegante {
  margin: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.liga-card-elegante ion-card-header {
  background: linear-gradient(135deg, #3f51b5, #5c6bc0);
  color: white;
  padding: 20px;
}

.liga-avatar-large {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.liga-fecha {
  font-weight: bold;
  color: #333;
  margin-top: 6px;
  font-size: 20px;
}

.input-label {
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  color: #444;
}

.liga-input {
  --background: #f4f4f4;
  border-radius: 8px;
  padding: 6px;
  font-size: 15px;
    font-size: 1.1rem;
  // font-weight: bold;
  // color: #222;
}

ion-icon {
  color: #3f51b5;
}

ion-button {
  --padding-start: 0;
  --padding-end: 0;
}

ion-divider {
  margin-top: 20px;
  margin-bottom: 10px;
}

