
<br />
<br />
<br />
<br />

<ion-content [fullscreen]="true">
  e-consultar-torneos

  <ion-card>
    <ion-card-content>
      <ion-card-title>Consultar torneos: alumnos</ion-card-title>
    </ion-card-content>
  </ion-card>


  <!-- Tabla de Competición LCP -->
<ion-card>


  <ion-card-content>
    <ion-card-title class="ion-text-center">Competición LCP</ion-card-title>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nº</th>
            <th>Foto</th>
            <th>Alumnos</th>
            <th>Competición</th>
            <th>Clasificación</th>
            <th>Nombre Grupo</th>
          </tr>
        </thead>
        <tbody>
          <!-- Fila LCP 1 -->
          <tr>
            <td>1</td>
            <td>
              <img src="/assets/perfil/2.jpg" alt="Alumno 1" class="player-photo" />
            </td>
            <td>Juan Pérez</td>
            <td>LCP</td>
            <td>2º</td>
            <td>Sala 1</td>
          </tr>
          <!-- Fila LCP 2 -->
          <tr>
            <td>3</td>
            <td>
              <img src="/assets/perfil/7.jpg" alt="Alumno 3" class="player-photo" />
            </td>
            <td>Carlos Sánchez</td>
            <td>LCP</td>
            <td>1º</td>
            <td>Sala 3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-card>


<!-- Tabla de Competición Torneo -->
<ion-card>


  <ion-card-content>
    <ion-card-title class="ion-text-center">Competición Torneo</ion-card-title>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nº</th>
            <th>Foto</th>
            <th>Alumnos</th>
            <th>Competición</th>
            <th>Clasificación</th>
            <th>Nombre Grupo</th>
          </tr>
        </thead>
        <tbody>
          <!-- Fila Torneo 1 -->
          <tr>
            <td>2</td>
            <td>
              <img src="/assets/perfil/d5.jpg" alt="Alumno 2" class="player-photo" />
            </td>
            <td>Ana Torres</td>
            <td>Torneo</td>
            <td>Semifinalista</td>
            <td>Sala 2</td>
          </tr>
          <!-- Fila Torneo 2 -->
          <tr>
            <td>4</td>
            <td>
              <img src="/assets/perfil/2.jpg" alt="Alumno 4" class="player-photo" />
            </td>
            <td>Lucía Gómez</td>
            <td>Torneo</td>
            <td>Octavos</td>
            <td>Sala 1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-card>




</ion-content>
