.ion-text-center {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

.table-container {
  overflow-x: auto;
  margin-top: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table thead {
  background-color: #f1f1f1;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.player-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

ion-select {
  width: 100%;
}

ion-button {
  font-weight: bold;
}
