/* Ajustes generales para el ion-card */
ion-card {
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Evitar que el contenido sobresalga */
  margin: 10px; /* Espaciado entre las cards */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
}

/* Estilo para las imágenes del trofeo */
ion-img {
  height: 150px; /* Altura de las imágenes */
  object-fit: cover; /* Mantiene la relación de aspecto */
  width: 100%; /* Imagen ocupa el 100% del ancho del card */
}

/* Estilo para el título del trofeo */
ion-card-title {
  text-align: center; /* Centra el título */
  font-weight: bold; /* Negrita para el título */
  margin: 10px 0; /* Margen para separar el título de la imagen */
  color: #4a4a4a; /* Color del texto */
}

/* Estilo para ion-content para margen superior */
ion-content {
  --padding-top: 10px; /* Margen superior para el contenido */
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  ion-col {
    margin-bottom: 20px; /* Espaciado adicional en columnas cuando se muestra en una fila */
  }
}
