
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trofeos Conseguido</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <!-- Primer Trofeo -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/trofeos/7.jpg"></ion-img>
          <ion-card-content>
            <h2>Trofeo de Participación<ion-icon name="information-circle"></ion-icon>
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Segundo Trofeo -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/trofeos/7.jpg"></ion-img>
          <ion-card-content>
            <h2>Trofeo al Mejor Progreso<ion-icon name="information-circle"></ion-icon>
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/trofeos/1.jpg"></ion-img>
          <ion-card-content>
            <h2>Trofeo al Mejor Progreso<ion-icon name="information-circle"></ion-icon>
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>

  darle inf de la trofeos para saber como conseguirlo???
  <br>  <br>
  <br>

</ion-content>
