




  <ion-card>
    <ion-card-header>
      <ion-card-title>Carruseles</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label>Mostrar carrusel frontal</ion-label>
        <ion-toggle [(ngModel)]="mostrarFrontal" (ionChange)="guardarPreferencias()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Mostrar carrusel lateral</ion-label>
        <ion-toggle [(ngModel)]="mostrarLateral" (ionChange)="guardarPreferencias()"></ion-toggle>
      </ion-item>

    </ion-card-content>
  </ion-card>
