
  <!-- Lista de chats -->
  <ion-list>
    <ion-item button [routerLink]="['/pages/chat-particular', { userId: 1 }]">
      <ion-avatar slot="start">
        <img src="https://i.imgur.com/KfW7Wkx.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>AAA Adriana</h2>
        <p>Jose Miguel</p>
      </ion-label>
      <ion-badge color="success" slot="end">1</ion-badge>
      <ion-note slot="end">11:11</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.imgur.com/suBGkCW.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Los de las 4 Calles 🍻</h2>
        <p>Dani: Jajajaj</p>
      </ion-label>
      <ion-note slot="end">Ayer</ion-note>
    </ion-item>


