

<br />
<br />
<br />
<br />
<br />
<br />
<ion-content [fullscreen]="true">
e-estado-solicitud-competicion-t

<ion-card>
  <ion-card-content class="ion-padding">
    <h2 class="ion-text-center">
      <strong style="text-decoration: underline">Solicitud de alumnos para torneos de eliminatorias</strong>
    </h2>
    <br />
    <div class="scrollable-table">
      <table>
        <thead>
          <tr>
            <th>Nº</th>
            <th>Foto</th>
            <th>Nombre y Apellido</th>
            <th>Tipo de torneo</th>
            <th>Objetivo</th>
            <th>Género</th>
            <th>Disponibilidad</th>
            <th>Tamaño del torneo</th>
          </tr>
        </thead>
        <tbody>
          <!-- Usuario 1 -->
          <tr>
            <td>1</td>
            <td><img src="assets/perfil/2.jpg" alt="Usuario 1" class="user-photo" /></td>
            <td>Juan Pérez</td>
            <td>Competitiva</td>
            <td>Bajar de peso</td>
            <td>Masculino</td>
            <td>Inmediata</td>
            <td>16 participantes</td>
          </tr>
          <!-- Usuario 2 -->
          <tr>
            <td>2</td>
            <td><img src="assets/perfil/6.jpg" alt="Usuario 2" class="user-photo" /></td>
            <td>María López</td>
            <td>Amistosa</td>
            <td>Subir de peso</td>
            <td>Femenino</td>
            <td>1 semana</td>
            <td>32 participantes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-card>

  *Notas
  <br>
  tipo de lcp:
  <br>
  competitiva: enfrentase con otros gimnasio,
  amistosa: enfrentarse con usuarios de tu mismo gimnasio (me imagino q lo formatos tendria q ser mas pequeños)

</ion-content>
