<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <strong>Liga Corporal Profesional</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-mis-grupos-lcp (ligaSeleccionadaChange)="ligaSeleccionada = $event"></app-mis-grupos-lcp>

  <!-- Gráfica lineal -->
  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-card-title>
        <strong>Evolución del peso corporal profesional</strong>
      </ion-card-title>
      <br />

      <h2>Gráfica lineal: Registro cronológico de peso</h2>
      <br />

      <!-- Selector -->
      <ion-segment [(ngModel)]="tipoGrafica" scrollable>
        <ion-segment-button value="diario">
          <ion-label>Diario</ion-label>
        </ion-segment-button>
        <ion-segment-button value="semanal">
          <ion-label>Semanal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="mensual">
          <ion-label>Mensual</ion-label>
        </ion-segment-button>
        <ion-segment-button value="anual">
          <ion-label>Anual</ion-label>
        </ion-segment-button>
      </ion-segment>

      <!-- Mostrar componente según selección -->
      <div [ngSwitch]="tipoGrafica" class="ion-padding-top">
        <app-grafico-diario-lc
          *ngSwitchCase="'diario'"
          [liga]="ligaSeleccionada"
        ></app-grafico-diario-lc>
        <app-grafico-semanal-lc
          *ngSwitchCase="'semanal'"
          [liga]="ligaSeleccionada"
        ></app-grafico-semanal-lc>
        <app-grafico-mensual-lc
          *ngSwitchCase="'mensual'"
          [liga]="ligaSeleccionada"
        ></app-grafico-mensual-lc>
        <app-grafico-anual-lc
          *ngSwitchCase="'anual'"
          [liga]="ligaSeleccionada"
        ></app-grafico-anual-lc>
      </div>
    </ion-card-content>
  </ion-card>

  <app-podio-lcp [liga]="ligaSeleccionada"></app-podio-lcp>
  <app-tabla-clasificatoria-lcp
    [liga]="ligaSeleccionada"
  ></app-tabla-clasificatoria-lcp>
  <app-carrusel-caracteristicas-lcp
    [liga]="ligaSeleccionada"
  ></app-carrusel-caracteristicas-lcp>
  <app-guardar-peso-lcp [liga]="ligaSeleccionada"></app-guardar-peso-lcp>
  <app-verificador-semanal-lcp
    [liga]="ligaSeleccionada"
  ></app-verificador-semanal-lcp>




  <!-- btn flotante  -->
  <!-- btn flotante  -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <!-- style="margin-bottom: 100px" -->
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <!-- Apostar Quinipeso -->
      <div class="fab-item" (click)="router.navigate(['/pages/quinipeso-lcp'])">
        <div class="fab-label">Apostar Quinipeso</div>
        <ion-fab-button>
          <ion-icon name="cash-outline"></ion-icon>
        </ion-fab-button>
      </div>

      <!-- Participantes -->
      <div
        class="fab-item"
        (click)="router.navigate(['/pages/participantes-lcp'])"
      >
        <div class="fab-label">Participantes</div>
        <ion-fab-button>
          <ion-icon name="people-outline"></ion-icon>
        </ion-fab-button>
      </div>

      <!-- Configurar LCP -->
      <div
        class="fab-item"
        (click)="router.navigate(['/pages/gestionar-mis-ligas-lcp'], { queryParams: { seccion: 'editar' } })"
      >
        <div class="fab-label">Editar Lcp</div>
        <ion-fab-button>
          <ion-icon name="settings-outline"></ion-icon>
        </ion-fab-button>
      </div>

      <!-- Crear una LCP -->
      <div
        class="fab-item"
        (click)="router.navigate(['/pages/gestionar-mis-ligas-lcp'], { queryParams: { seccion: 'crear' } })"
      >
        <div class="fab-label">Crear una LCP</div>
        <ion-fab-button>
          <ion-icon name="create-outline"></ion-icon>
        </ion-fab-button>
      </div>

      <!-- Unirme a LCP -->
      <div
        class="fab-item"
        (click)="router.navigate(['/pages/gestionar-mis-ligas-lcp'], { queryParams: { seccion: 'editar' } })"
      >
        <div class="fab-label">Unirme a LCP</div>
        <ion-fab-button>
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-fab-button>
      </div>

      <!-- Invitar a un amigo -->
      <div
        class="fab-item"
        (click)="router.navigate(['/pages/configuracion-lcp'], { queryParams: { seccion: 'editar' } })"
      >
        <div class="fab-label">Invitar a un amigo</div>
        <ion-fab-button>
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </ion-fab-list>
  </ion-fab>

  <br />
  <br />
  <br />
  <br />
  <br />
</ion-content>
