<br>
<br>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <div class="question-container">
      <h1>¿Quieres entrar a un gimnasio?</h1>
      <ion-button expand="full" color="primary" class="search-button">
        Buscar
      </ion-button>
    </div>
    <div class="question-container">
      <h1>¿Quieres un entrenador personal?</h1>
      <ion-button expand="full" color="primary" class="search-button">
        Buscar
      </ion-button>
    </div>
  </div>
</ion-content>
