
  <!-- podio semanal  -->
  <ion-card class="podio">
    <ion-card-content>
      <ion-card-title class="ion-text-center">
        <strong>Podio Semanal</strong>
      </ion-card-title>
      <br />

      <div class="podio-container">
        <div class="podio-lugar primer-lugar">
          <ion-img
            src="/assets/perfil/2.jpg"
            class="img-avatar"
            style="margin-left: 15px"
          ></ion-img>
          <div class="tarima oro" style="margin-left: 10px"
></div>
          <div class="posicion" >&nbsp;&nbsp;&nbsp;1</div>
          <p> &nbsp;&nbsp;&nbsp;Posición actual</p>
        </div>

        <div class="podio-lugar segundo-lugar">
          <ion-img
            src="/assets/perfil/6.jpg"
            class="img-avatar"
            style="margin-left: 5px"
          ></ion-img>
          <div class="tarima plata"></div>
          <div class="posicion">2</div>
          <p>Posición actual</p>
        </div>

        <div class="podio-lugar tercer-lugar" style="margin-left: 30px">
          <ion-img src="/assets/perfil/7.jpg" class="img-avatar"></ion-img>
          <div class="tarima bronce"></div>
          <div class="posicion">3</div>
          <p>Posición actual</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

