.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre el entrenador y la tabla */
  }

  .gym-logo img {
    width: 60px; /* Tamaño de la imagen del gimnasio */
    height: 60px;
    object-fit: cover;
    margin-right: 15px; /* Espacio entre el logo y la información del entrenador */
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .coach-info {
    display: flex;
    align-items: center;
  }

  .trainer-photo {
    width: 40px; /* Tamaño de la imagen del entrenador */
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; /* Espacio entre la imagen del entrenador y el nombre */
  }





  .table-container {
    overflow-x: auto; /* Hacer que la tabla sea desplazable horizontalmente */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  thead th {
    background-color: #f8f8f8;
    padding: 10px;
  }

  tbody tr {
    border-bottom: 1px solid #ddd;
  }

  td {
    padding: 10px;
  }

  .player-photo {
    width: 40px; /* Tamaño más pequeño de la imagen de los jugadores y verificadores */
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  ion-checkbox {
    --size: 20px;
  }
