<ion-header>
  <ion-toolbar>
    <ion-title>Competición</ion-title>
  </ion-toolbar> </ion-header
><!-- cabezera  -->
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="equal-height-row">
      <ion-col size="6">
        <ion-card
          [routerLink]="['/pages/lp']"
          style="cursor: pointer; text-align: center"
        >
          <img
            alt="LP"
            src="assets/menu-de-competicion/2.svg"
            style="margin: 0 auto; display: block"
          />
          <ion-card-header>
            <ion-card-title style="font-size: small; text-align: center">
              LIGA PERSONAL
            </ion-card-title>
            <ion-card-subtitle style="text-align: center"></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content style="font-size: small; text-align: center">
            Es un espacio individual para registrar tu peso y avanzar a tu
            ritmo.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card
          [routerLink]="['/pages/lc']"
          style="cursor: pointer; text-align: center"
        >
          <img
            alt="LC"
            src="assets/menu-de-competicion/3.svg"
            style="margin: 0 auto; display: block"
          />
          <ion-card-header>
            <ion-card-title style="font-size: small; text-align: center">
              LIGA CORPORAL
            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="font-size: small; text-align: center">
            Es una experiencia en grupos, con verificación semanal y podios.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="equal-height-row">
      <ion-col size="6">
        <ion-card
          [routerLink]="['/pages/lcp']"
          style="cursor: pointer; text-align: center"
        >
          <img
            alt="LCP"
            src="assets/menu-de-competicion/1.svg"
            style="margin: 0 auto; display: block"
          />
          <ion-card-header>
            <ion-card-title style="font-size: small; text-align: center">
              LIGA CORPORAL PROFESIONAL
            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="font-size: small; text-align: center">
            Competición tipo liga, con calendario de enfrentamientos, y el juego
            del Quinipeso.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card
          [routerLink]="['/pages/torneos']"
          style="cursor: pointer; text-align: center"
        >
          <img
            alt="Torneos"
            src="assets/menu-de-competicion/4.svg"
            style="margin: 0 auto; display: block"
          />
          <ion-card-header>
            <ion-card-title style="font-size: small; text-align: center">
              TORNEO PROFESIONAL
            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="font-size: small; text-align: center">
            Compites por el título máximo en una fase de eliminatoria.
            <br>
             <br>
            ¡Proximamente!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  <ion-row class="equal-height-row">
      <ion-col size="6">
        <ion-card
          [routerLink]="['/pages/record']"
          style="cursor: pointer; text-align: center"
        >
          <img
            alt="LP"
            src="assets/menu-de-competicion/2.svg"
            style="margin: 0 auto; display: block"
          />
          <ion-card-header>
            <ion-card-title style="font-size: small; text-align: center">
              MARCA PERSONAL
            </ion-card-title>
            <ion-card-subtitle style="text-align: center"></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content style="font-size: small; text-align: center">
            "Guarda tu récord personal y supera tus límites"
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>






  </ion-grid>
  <br />
  <br />
  <br />
  <br />
  <br />
</ion-content>
