<br />
<br />
<br />
<br />
<br />
<br />

<ion-content [fullscreen]="true">
  e-solicitar-competicion-lcp
  <ion-card>
    <ion-card-content class="ion-text-center">
      solicitar una competicion en la lcp
      </ion-card-content>
  </ion-card>

  <!-- Pregunta inicial sobre participación en una LCP -->
  <form [formGroup]="lpcParticipacionForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label>¿Deseas participar en una LCP?</ion-label>
      <ion-select
        formControlName="participar"
        (ionChange)="onParticiparChange($event)"
      >
        <ion-select-option value="si">Sí</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Solo se muestra el formulario si la respuesta es 'Sí' -->
    <div *ngIf="mostrarFormulario">
      <!-- ¿Quieres una LCP? -->
      <ion-item>
        <ion-label>¿Qué tipo de LCP te gustaría?</ion-label>
        <ion-select
          formControlName="tipoLcp"
          placeholder="Selecciona una opción"
          required
        >
          <ion-select-option value="amistosa"
            >Amistosa (miembros del gimnasio)</ion-select-option
          >
          <ion-select-option value="competitiva"
            >Competitiva (ganar medalla para el gimnasio)</ion-select-option
          >
          <ion-select-option value="cualquiera">Cualquiera</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Objetivo de la competición -->
      <ion-item>
        <ion-label>¿Cuál es el objetivo de la competición?</ion-label>
        <ion-select
          formControlName="objetivo"
          placeholder="Selecciona un objetivo"
          required
        >
          <ion-select-option
            *ngFor="let objetivo of opcionObjetivo"
            [value]="objetivo"
            >{{ objetivo }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <!-- ¿Te gustaría participar en modo quiniela? -->
      <ion-item>
        <ion-label>¿Te gustaría participar con el modo quiniela?</ion-label>
        <ion-select
          formControlName="quiniela"
          placeholder="Selecciona una opción"
          required
        >
          <ion-select-option value="si">Sí</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>
          <ion-select-option value="ambas">Ambas</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Categoría de género -->
      <ion-item>
        <ion-label
          >¿En qué categoría de género te gustaría participar?</ion-label
        >
        <ion-select
          formControlName="categoriaGenero"
          placeholder="Selecciona una opción"
          required
        >
          <ion-select-option value="mixto">Mixto</ion-select-option>
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="femenino">Femenino</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Tipo de enfrentamiento -->
      <ion-item>
        <ion-label>¿Qué tipo de enfrentamiento prefieres?</ion-label>
        <ion-select
          formControlName="tipoEnfrentamiento"
          placeholder="Selecciona una opción"
          required
        >
          <ion-select-option
            *ngFor="let tipo of tipoEnfrentamiento"
            [value]="tipo"
            >{{ tipo }}</ion-select-option
          >
        </ion-select>
      </ion-item>




     <!-- Disponibilidad para participar -->
     <ion-item>
      <ion-label>elige un tipo de competicion:</ion-label>
      <ion-select
        formControlName="disponibilidad"
        placeholder="Selecciona una opción"
        required
      >
        <ion-select-option value="inmediata">Individual</ion-select-option>
        <ion-select-option value="1semana">Coelctiva</ion-select-option>
        <ion-select-option value="2semanas">Cualquiera</ion-select-option>
      </ion-select>
    </ion-item>





      <!-- Disponibilidad para participar -->
      <ion-item>
        <ion-label>¿Cual e stu disponibilidad para participar?</ion-label>
        <ion-select
          formControlName="disponibilidad"
          placeholder="Selecciona una opción"
          required
        >
          <ion-select-option value="inmediata">Inmediata</ion-select-option>
          <ion-select-option value="1semana">1 semana</ion-select-option>
          <ion-select-option value="2semanas">2 semanas</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Botón para enviar el formulario -->
    <ion-button
      expand="full"
      type="submit"
      [disabled]="lpcParticipacionForm.invalid"
      >Enviar</ion-button
    >
  </form>
<BR>
  *Amistosa: una competición con miembros del mi gym Competitiva: una competición
  para ayudar a conseguir una medalla a tu gym cualquiera
</ion-content>
