<ion-header>
  <ion-toolbar>
    <ion-title>menu gym</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="equal-height-row">
      <ion-col size="6">
        <ion-card [routerLink]="['/pages/e-lc']" style="cursor: pointer; text-align: center;">
                    <img
            alt="LP"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
            style="margin: 0 auto; display: block"
          />
          <ion-card-header>
            <ion-card-title style="font-size: small; text-align: center;">
              E-LC (usuario)
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['/pages/e-lc-2']" style="cursor: pointer; text-align: center;">
                    <img
            alt="LP"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
            style="margin: 0 auto; display: block"
          />
          <ion-card-header>
            <ion-card-title style="font-size: small; text-align: center;">
              E-LC (entrenador)
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="equal-height-row">
      <ion-col size="6">
        <ion-card [routerLink]="['/pages/e-lcp']" style="cursor: pointer; text-align: center;">
          <img
            alt="LP"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
            style="margin: 0 auto; display: block"
          />
          <ion-card-header>
            <ion-card-title style="font-size: small; text-align: center;">
              E-LCP (usuario)
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['/pages/e-lcp-2']" style="cursor: pointer; text-align: center;">
          <img
            alt="LP"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
            style="margin: 0 auto; display: block"
          />
          <ion-card-header>
            <ion-card-title style="font-size: small; text-align: center;">
              E-LCP (entrenador)
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="equal-height-row">
      <ion-col size="6">
        <ion-card [routerLink]="['/pages/e-t']" style="cursor: pointer; text-align: center;">
                    <img
            alt="LP"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
            style="margin: 0 auto; display: block"
          />
          <ion-card-header>
            <ion-card-title style="font-size: small; text-align: center;">
              E-T (usuario)
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['/pages/e-t-2']" style="cursor: pointer; text-align: center;">
                    <img
            alt="LP"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
            style="margin: 0 auto; display: block"
          />
          <ion-card-header>
            <ion-card-title style="font-size: small; text-align: center;">
              E-T (entrenador)
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br />
  <br />
  <br />
  <br />
  <br />
</ion-content>
