
  <!-- Lista de chats -->
  <ion-list>
    <ion-item button [routerLink]="['/pages/chat-particular', { userId: 1 }]">
      <ion-avatar slot="start">
        <img src="https://i.imgur.com/KfW7Wkx.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>AAA Adriana</h2>
        <p>Jose Miguel</p>
      </ion-label>
      <ion-badge color="success" slot="end">1</ion-badge>
      <ion-note slot="end">11:11</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.imgur.com/suBGkCW.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Los de las 4 Calles 🍻</h2>
        <p>Dani: Jajajaj</p>
      </ion-label>
      <ion-note slot="end">Ayer</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.imgur.com/nfFPlAj.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Liliana</h2>
        <p>Que vamos a bailar con tus hermanos...</p>
      </ion-label>
      <ion-note slot="end">22/5/25</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.imgur.com/Fy9k7Cr.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>CORPOREconsultayformacion</h2>
        <p>~ Vero: Gracias</p>
      </ion-label>
      <ion-note slot="end">22/5/25</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.imgur.com/40JphIv.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Pau Verdú Granada Compi Pi...</h2>
        <p>✅ Momento decisivo</p>
      </ion-label>
      <ion-note slot="end">22/5/25</ion-note>
    </ion-item>
  </ion-list>

 