.no-wrap {
  flex-wrap: nowrap !important; /* Mantiene todos los elementos en una línea */
}

.title-text {
  font-size: 16px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}





