


.fab-menu {
  position: absolute;
  bottom: 70px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los botones hacia la izquierda */
  width: 200px; /* Ajusta el ancho de los botones */
}

ion-button {
  --background: #ff9800; /* Cambia el color de fondo de los botones */
  --color: white; /* Color del texto y los iconos */
  display: flex;
  justify-content: flex-start; /* Alinea el contenido del botón a la izquierda */
  width: 100%; /* Asegura que todos los botones tengan la misma anchura */
  padding-left: 10px; /* Añade un poco de padding para separar del borde */

}
ion-button ion-icon {
  font-size: 20px; /* Tamaño del icono */
  margin-right: 10px; /* Espacio entre el icono y el texto */

}




// cuadro de eliminatorias

.container {
  padding: 10px;
  text-align: center;
}

.torneo-peso {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
}

.torneo-peso__round {
  min-width: 220px; /* Reducido para mejor visualización en móviles */
  padding: 5px 10px; /* Ajustado el padding */
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 10px;
}

.torneo-peso__round-title {
  font-weight: bold;
  margin-bottom: 8px; /* Ajustado el margen inferior */
  color: #fff;
  background-color: #4caf50;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2em; /* Tamaño de fuente ajustado */
}

.torneo-peso__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.torneo-peso__item {
  margin-bottom: 15px;
}

.torneo-peso__match {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 8px; /* Reducido el padding */
}

.torneo-peso__table {
  width: 100%;
  text-align: center;
}

.torneo-peso__caption {
  font-weight: bold;
  margin-bottom: 5px;
  color: #007acc;
}

.torneo-peso__team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  background-color: #466dea81;
  border-radius: 5px;
}

.torneo-peso__team--winner {
  background-color: #ffeb3b;
  font-weight: bold;
  color: #000;
}

.torneo-peso__player {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinear a la izquierda */
}

.torneo-peso__avatar {
  width: 28px; /* Tamaño del avatar ajustado */
  height: 28px; /* Tamaño del avatar ajustado */
  border-radius: 50%;
  margin-right: 6px; /* Espacio entre la imagen y el nombre */
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
  .torneo-peso__round {
    min-width: 200px; /* Tamaño mínimo aún más pequeño */
  }

  .torneo-peso__round-title {
    font-size: 1em; /* Ajustar el tamaño de la fuente para móviles */
  }

  .torneo-peso__match {
    padding: 6px; /* Reducir padding para móviles */
  }

  .torneo-peso__item {
    margin-bottom: 10px; /* Reducir margen en dispositivos móviles */
  }

  .torneo-peso__avatar {
    width: 24px; /* Ajustar tamaño del avatar para móviles */
    height: 24px; /* Ajustar tamaño del avatar para móviles */
  }
}





// div del comentario
.comments-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.comments-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.comments-count {
  font-size: 16px;
  margin-left: 10px;
  background-color: #007acc;
  color: white;
  border-radius: 12px;
  padding: 2px 8px;
}

.comments-dropdown {
  --background: transparent; /* Elimina el fondo */
  --color: #007acc; /* Color del texto */
  --border: none; /* Sin borde */
}

.comment-container {
  margin-bottom: 20px;
}

.comment-header {
  display: flex;
  align-items: center;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-info {
  flex: 1;
}

.comment-author {
  margin: 0;
  font-weight: bold;
}

.comment-date {
  font-size: 12px;
  color: #999;
}

.comment-text {
  margin-top: 5px;
}

.last-comment {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

